<div class="row">
  <div class="grid-12">
    <div class="mod-comments">
      <h3>Comments</h3>
      <div class="comment">
        <h4 class="comment-title">Comment title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Non maxime provident, corrupti doloremque, molestiae officia
         itaque aperiam voluptatibus, totam dolores accusantium eum quod?
         Placeat animi quos nemo error ipsum, esse?</p>
      </div>
      <div class="comment">
        <h4 class="comment-title">Comment title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Non maxime provident, corrupti doloremque, molestiae officia
         itaque aperiam voluptatibus, totam dolores accusantium eum quod?
         Placeat animi quos nemo error ipsum, esse?</p>
      </div>

      <form action="">
        <input type="text-field" placeholder="Leave a comment" class="leave-a-comment">
      </form>

      <div class="row">
        <div class="grid-4 offset-4 medium-grid-6 medium-offset-3">
          <input type="submit" value="more comments" class="more-comments">
        </div>
      </div>
    </div>
  </div>
</div>
