<li class="overall"><a href="#all" class="overall-link">OVERALL</a></li>
{{#each pillars}}
  <li><a href="#{{number}}" class="tab-link" data-id="{{number}}" id="pillar{{number}}">{{short}}</a></li>
{{/each}}
