<ul class="guidelines-tabs dashboard-tabs">
</ul>
<div class="mod-indicators-switcher">
  <label for="indicatorMode" class="is-selected mode-label law">law</label>
  <div class="checkbox-wrapper">  
    <input class="practice-indicators" id="indicatorMode" type="checkbox" name="practice-indicators">
  </div>
  <label for="indicatorMode" class="mode-label practice">practice</label>
</div>

<div class="guidelines-wrapper"></div>
