<div id="overlay" class="mod-overlay">
  <div class="overlay-bg"></div>
  <div class="info-window">
    <div class='close'></div>
    <h2>{{title}}</h2>
    <div class="explanation-wrapper">
      <div class="explanation">
        <p>{{body}}</p>
      </div>
    </div>
  </div>
</div>
