<div id="overlay" class="mod-overlay">
  <div class="overlay-bg"></div>
  <div class="info-window">
    <div class='close'></div>
    <h2>Guideline {{guideline}}</h2>
    {{#if title}}
      <p class="title">{{title}}</p>
    {{/if}}
    <div class="explanation-wrapper">
      <div class="explanation">
        {{{description}}}
      </div>
    </div>
  </div>
</div>
