<div id="overlay" class="mod-overlay">
  <div class="overlay-bg"></div>
  <div class="info-window">
    <div class='close'></div>
    <h2>Indicator practice</h2>
    <div class="explanation-wrapper">
      <div class="explanation">
        <p>“In addition to the index scores, EDI includes 24 supplemental indicators that provide key insights into how environmental democracy rights are manifested in practice. The results of these indicators are presented qualitatively and do not contribute to the legal indicator scores. At this stage in EDI’s development, they are not comprehensive and should not be taken as proxy for the implementation of environmental democracy at the national level. However, they should provide users with important insights and highlight areas of good practice or where additional work needs to be done.”</p>
      </div>
    </div>
  </div>
</div>
