<div id="overlay" class="mod-overlay">
  <div class="overlay-bg"></div>
  <div class="info-window">
    <div class='close'></div>
    <h2>Guideline {{guideline}}. Indicator {{id}}</h2>
    <div class="explanation-wrapper">
      <div class="explanation">
        <p class="question">{{question}}</p>
        <p>{{{description}}}</p>
        {{!-- <p>{{#breaklines description}}{{/breaklines}}</p> --}}
      </div>
    </div>
  </div>
</div>
