<div id="overlay" class="mod-overlay">
  <div class="overlay-bg"></div>
  <div class="info-window">
    <div class='close'></div>
    <h2>Indicator law</h2>
    <div class="explanation-wrapper">
      <div class="explanation">
        <p>“The EDI scores are based on indicators that measure a) the degree to which national legally-binding rules have provisions that promote transparency, participation, and access to justice in environmental decision-making and b) the coverage of these provisions across the body of environmental decision-making (i.e. policy and law-making, projects, permitting and licensing, planning, etc).”</p>
      </div>
    </div>
  </div>
</div>
