<div id="overlay" class="mod-overlay video">
  <div class="overlay-bg"></div>
  <div class="info-window">
    <div class='close'></div>
    <h2>Video tutorial</h2>
    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pzJjoYNNx1A" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
