<div class="mod-overlay mod-disclaimer">
  <div class="overlay-bg"></div>
  <div class="info-window">
    <a href="#close" class="close"></a>
    <h2>{{title}}</h2>
    <p>{{body}}</p>
    <div class="wrapper">
      <a href="#close" class="disclaimer-close">Accept</a>
    </div>
  </div>
</div>
