.ui-tooltip {
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .25);
  background-color: $color-0;
  font-family: $font-family;
  text-transform: capitalize;
  width: auto;

  &:after {
    @include after('', block, absolute, -15px, 10px, 19px, 19px);
    @include equi-triangle (10px, $color-0);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
